# GEMINI_API_KEY: Clave gratuita de Google AI Studio (Opcional)
GEMINI_API_KEY=

# Supabase Frontend Credentials
VITE_SUPABASE_URL=https://xdrvhkmritmcgyquynov.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_dvgVA5b9-mtvHZbtWfsixg_2fdx100

